
body{
    background-image: url('bakgrunnur.png');
    background-attachment: fixed;
	color: #FFF;
    background-color: #CCFF00;
    }

.box {
	border-radius: 3px;
	background: #ccff00; margin: auto; padding: 12px;
}
.lightbox {
	zoom: 1.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: auto;
	
}
div.horizontal {
	display: flex;
	justify-content: center;
	height: 100%;
}
div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
::-webkit-input-placeholder {
   color: ##ccff00;
   text-align: center;
}
::-moz-placeholder {  
   color: #F6FF33;
   text-align: center;
}
:-ms-input-placeholder {  
   color: #F6FF33;
   text-align: center;
}
