body{
    background-color: #CCFF00;
    background-image: url('https://raw.githubusercontent.com/HofiLofi/hofilofi.github.io/master/bakgrunnur2.png');
    background-size: cover;
	background-attachment: fixed;
	color: #FFF;
}
